PUBLIC_SUPABASE_URL=https://supabase.astro3d.ru
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzg1MzM3Mjg3LCJleHAiOjE5NDMwMTcyODd9.aUK85h9G1E0IGI6U8SVoZpHxmSzn_DFLJ6POoGkjvuo
